{% extends 'base.html' %}


{% block content %}
    <div class="row">
        <div class="col">
            <h3 class="one">Listado</h3>
        </div>
    </div>
    <table class="table">
        <style> 
            tbody, thead, h3{
                color: white;
            }
        </style>
        <thead>
            <tr>
                <th>ID</th>
                <th>PRODUCTO</th>
                <th>STOCK</th>
                <th>SELECCION</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ product.product }}</td>
                    <td>{{ product.stock|upper }}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-warning" href="#">
                                <i class="fa fa-edit"></i>
                                SELECCIONAR
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}